*,
*::before,
*::after {
  box-sizing: border-box;
}

.header-wrap{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: grey;
  z-index: 4;
}

.header-container {
  margin: 0px 84px;
  padding: 22px 0px;
  text-align: center;
}

.header-image {
  text-align: center;
}

.flex-page-list {
    color: #c6ab80;
    width: 100%;
    height: 49px;
    background-color: #383839;
    font-family: "montserrat", sans-serif;
    font-size: 13px;
    font-weight: 684;
    line-height: 1.4;
    text-transform: uppercase;
    border-color: #59595a;    
}

.menu {
  display: none;
}

.flex-page-list ul {
  display: flex;
  list-style: none;
  /*padding: 0px 0px 0px 700px; */
  justify-content: center;
  
}

ul li {
  padding: 15px 10px;
}

li:hover {
  color: silver;
}



body {
  color: #c6ab80;
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  /*display: flex; 
  flex-direction: column;
  text-align: center; */
}

.contents {
  position: relative;
  top: 238.316px;
}

.slideshow-container {
  width: 1180px;
  position: relative;
  margin:auto;
}


.mySlides {
  
  /*padding: 20px; */
  margin-top: 10px;
  position: relative;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(198,171,128,0.66);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba (0,0,0,0,8)
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.NEWS {
 height: 115px;
 display: flex;
 justify-content: space-around;
 margin-top: 30px;
}

.left-border {
  border-bottom: double 7px;
  width: 30%;
  height: 25px;
}

.title {
  font-size: 54px;
}

.right-border {
  border-bottom: double 9px;
  width: 30%;
  height: 25px;
}

.NEWS-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  color: black;
  margin-bottom: 40px;
}

.CLUB-STATEMENT {
 background-color: #c6ab80;
 height: 380px;
 width: 400px;
}

.CLUB-STATEMENT upper-box {
  height: 190px;
}

.CLUB-STATEMENT img {
  height: 100%;
  width: 100%;
}

.CLUB-STATEMENT lower-box {
  height: 190px;
}

.INTERESTED {
  background-color: #c6ab80;
  height: 380px;
  width: 400px;
}

.INTERESTED upper-box {
  height: 190px;
  
}

.INTERESTED img {
  height: 100%;
  width: 100%;
}

.INTERESTED lower-box {
  height: 190px;
}

.lower-box-title {
  height: 150px;
  font-size: 33px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align:center;
}

.lower-box-sub {
  height: 40px;
  font-size: 17px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.MLS-ACADEMY-LEAGUE {
  background-color: #c6ab80;
  height: 380px;
  width: 400px;

}

.MLS-ACADEMY-LEAGUE upper-box {
  height: 190px;
}

.MLS-ACADEMY-LEAGUE img {
  height: 100%;
  width: 100%;
}


.MLS-ACADEMY-LEAGUE lower-box {
  height: 190px;
}

.lower-box-title-2 {
  height: 90px;
  font-size: 33px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.lower-box-sub {
  height: 100px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  text-align: center;
}


.separator{
  border-top: double 7px #ba9f74;
  height: 42px;
  margin-top: 20px;
}

.NEWS-container-2 {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  color: black;
}

.JOIN-US {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  color: black;
  padding-bottom:40px;
}

.JOINUS {
  background-color: #c6ab80;
  height: 380px;
  width: 400px;
 }

.JOINUS upper-box {
  height: 190px;
  text-align: center;
}

.JOINUS img {
  height: 100%;
  width: 100%;
}

.JOINUS lower-box {
  height: 190px;
}

.lower-box-title {
  height: 70px;
  font-size: 33px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.lower-box-sub {
  height: 120px;
  font-size: 17px;
  text-align: center;
}

 
 .Player-Pathway {
   background-color: #c6ab80;
   height: 380px;
   width: 400px;
 }

.Player-Pathway upper-box {
  height: 190px;
  text-align: center;
}

.Player-Pathway img {
  height: 100%;
  width: 100%;
}

.Player-Pathway lower-box {
  height: 190px;
}

.lower-box-title {
  height: 90px;
  font-size: 33px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.lower-box-sub {
  height: 100px;
  font-size: 14px;
  text-align: center;
}

 
.coaching-assignments {
   background-color: #c6ab80;
   height: 380px;
   width: 400px;
 
 }

.coaching-assignments upper-box {
  height: 190px;
  text-align: center;
}

.coaching-assignments img {
  height: 100%;
  width: 100%;
}

.coaching-assignments lower-box {
  height: 190px;
}

.lower-box-title {
  height: 110px;
  font-size: 33px;
}

.lower-box-sub {
  height: 80px;
  font-size: 14px;
  text-align: center;
}




.CLUB-STATS {
  margin-top: 20px;
  height: 45px;
  display: flex;
  justify-content: space-around;
}


.performance {
  height:950px;
  width: 100%;
  background-image: url(https://michiganwolves.teamsnapsites.com/wp-content/uploads/sites/2235/2020/04/01-WOLVES-CHAMPS.jpeg);
  background-color: #ba9f74;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
}

.performance::after {
  background-color: rgba(198,171,128,0.66);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}


.fl-heading {
  font-weight: 800;
  font-size: 60px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 80px;
  color: black;
}

span.fl-heading-text {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  position: relative;
  z-index: 2;
}




.circles{
  display: flex;
  justify-content: center;
  /*padding-left: 560px;*/
  
}

a.circle {
  display: inline-block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: solid 10px black;
  padding: 10px;
  margin-right: 50px;
  z-index: 2;
  text-align: center;

}

.circle span{
  color: black;
  display: inline-block;
  top: 50%;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;

}

.national {
  font-size: 40px;
  font-weight: 450;  
  color: black;
}

.star-icon {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  color: black;
  display: flex;
  justify-content: center;

  
}

.star {
  font-size: 50px;
  padding-top: 80px;
  padding-left: 40px;
  z-index: 2;
}

.space {
  height: 95px;
}

.SOCIAL{
  
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
}

.SNS-accounts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  height: 900px; 
  
}

.twitter-timeline {
  

}


footer{
  color: white;
  background-image: url(/Assets/Goal\,sunset.jpg);
  background-color:rgba(198,171,128,0.66);
  background-repeat: no-repeat;
  background-size: 2200px 793px;
  background-attachment: scroll;
  position: relative;
}


.footer::after {
  color: rgba(198,171,128,0.66);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}



.items {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-right: 0px;

}

.Location {
  margin-top: 80px;
}

h2 {
  text-align: right;
}

h2.dome {
  text-align: left;
}

h3.dome {
  text-align: left;
}

.google-map{
 width: 513px;
 height: 600px;
}

.Links {
  margin-top: 100px;
  text-align: center;
  width: 400px;
}

.Links span {
  text-align: center;
  font-size: 21px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Links ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  font-size: 20px;
  padding: 0px;
}  


.Links li{
  padding: 15px 80px;
  margin-bottom: 10px;
  background-color: #ba9f74;
  border: 1px solid #ba9f74;

}

.club_identity {
  width: 500px;
  margin-right: 0px;
  margin-top: 80px;
}

.sns-logo {
  text-align: right;
  color:inherit;
  padding: 40px 10px;

}

.twitter {
  height: 34px;
  width: 44px;
}


.last-border {
  border: 2px solid #ba9f74;
}

.contact_us {

}



form {
  
}

h3 {
  text-align: right;
}

input.email {
  width:100%;
  height: 34px;
  border-radius: 7px;
  padding: 0px;

}

textarea{
  width: 100%;
  height: 100px;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 0px;
}

.message::placeholder {
  text-align: left;
  position: relative;
}

button {
  width: 100%;
  height: 45px;
  color: white;
  background-color: #ba9f74;
  padding: 12px;
}

button:hover {
  cursor: pointer;
  color: black;
}

@media (max-width: 768px) {

  .header-wrap{
    
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    
  }

  .header-container {
    width: 112;
    height: 21px;
    margin-left: 0px;
    left: 0px;
  }

  .header-image {
    width: 150px;
    height: 30px;
    margin-left: 110px;

  }
  
  


  .flex-page-list {
  color: #c6ab80;
  width: 50%;
  height: 100%;
  background-color: #383839;
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  border-color: #59595a;    
  text-align: center;
  margin-left: 70px;
  display: none;
}

.menu {
  color: black;
  display: flex;
  background-color: #EEEEEE;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 5px;
  margin: 20px;
  width: 26%;
  height: 35px;
}

.flex-page-list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
}

ul li {
padding: 15px 10px;
}

li:hover {
color: silver;
}


.contents {
  top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.slideshow-container {
  margin-left: 18px;
}

.mySlides {
 
}

  body {
    width: 100%;
    
  }

  img {
    display: flex;
    border: 0px;
    height: 160px;
    width: 310px;
  }

  .NEWS {
    align-items: center;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }
   
   .left-border {
     border-bottom: double 7px;
     width: 100%;
     height: 25px;
   }
   
   .title {
     font-size: 54px;
     padding-top: 20px;
   }
   
   .right-border {
     border-bottom: double 7px;
     width: 100%;
     height: 25px;
   }
  
   .NEWS-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    color: black;
  }

  .CLUB-STATEMENT {
    background-color: #c6ab80;
    height: 380px;
    width: 95%;
    margin-top: 20px;
   }
   
   .CLUB-STATEMENT upper-box {
     height: 190px;
   }
   
   .CLUB-STATEMENT img {
     height: 100%;
     width: 100%;
   }
   
   .CLUB-STATEMENT lower-box {
     height: 190px;
   }
   
   .INTERESTED {
     background-color: #c6ab80;
     height: 380px;
     width: 400px;
     margin: 20px;
   }
   
   .INTERESTED upper-box {
     height: 190px;
   }
   
   .INTERESTED img {
     height: 100%;
     width: 100%;
   }
   
   .INTERESTED lower-box {
     height: 190px;
   }
   
   .lower-box-title {
     height: 150px;
     font-size: 33px;
   }
   
   .lower-box-sub {
     height: 40px;
     font-size: 17px;
     text-align: center;
   }
   
   .MLS-ACADEMY-LEAGUE {
     background-color: #c6ab80;
     height: 380px;
     width: 420px;
   }
   
   .MLS-ACADEMY-LEAGUE upper-box {
     height: 190px;
   }
   
   .MLS-ACADEMY-LEAGUE img {
     height: 100%;
     width: 100%;
   }
   
   .MLS-ACADEMY-LEAGUE lower-box-2{
     height: 190px;
   }

   .lower-box-title-2{
    height: 150px;
    font-size: 33px;
 　　
  }
   
  .G:before {
    content: "\A"; white-space: pre;
  }
  
  
.separator{
  border-top: double 7px #ba9f74;
  height: 10px;
  width: 100%;
  padding-top: 10px;
} 

/*.separator {
  border-bottom: double 7px #ba9f74;
  width: 100%;
  height: 25px;
} */

.NEWS-container-2 {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  color: black;
}

.JOIN-US {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  color: black;
  
  padding-bottom:40px;
}

.JOINUS {
  background-color: #c6ab80;
  height: 380px;
  width: 400px;
  margin: 10px;
 }

.JOINUS upper-box {
  height: 190px;
  text-align: center;
}

.JOINUS img {
  height: 100%;
  width: 100%;
}

.JOINUS lower-box {
  height: 190px;
}

.lower-box-title {
  height: 110px;
  font-size: 33px;
}

.lower-box-sub {
  height: 80px;
  font-size: 17px;
  text-align: center;
}

 
.Player-Pathway {
   background-color: #c6ab80;
   height: 380px;
   width: 400px;
   margin: 20px;
}

.Player-Pathway upper-box {
  height: 190px;
  text-align: center;
}

.Player-Pathway img {
  height: 100%;
  width: 100%;
}

.Player-Pathway lower-box {
  height: 190px;
}

.lower-box-title {
  height: 110px;
  font-size: 33px;
}

.lower-box-sub {
  height: 80px;
  font-size: 14px;
  text-align: center;
}

 
.coaching-assignments {
   background-color: #c6ab80;
   height: 380px;
   width: 400px;
   margin: 20px;
 
 }

.coaching-assignments upper-box {
  height: 190px;
  text-align: center;
}

.coaching-assignments img {
  height: 100%;
  width: 100%;
}

.coaching-assignments lower-box {
  height: 190px;
}

.lower-box-title {
  height: 110px;
  font-size: 33px;
}

.lower-box-sub {
  height: 80px;
  font-size: 14px;
  text-align: center;
}


.CLUB-STATS {
  align-items: center;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 65px;
 }
 
 .left-border {
   border-bottom: double 7px;
   width: 100%;
   height: 25px;
 }
 
 .title {
   font-size: 54px;
   padding-top: 20px;
 }
 
 .right-border {
   border-bottom: double 7px;
   width: 100%;
   height: 25px;
   margin-bottom: 20px;
 }

 .performance {
  width: 100%;
  height: auto;
 }

 .circles {
  display: flex;
  flex-direction:column;
  align-items: center;
  padding-left: 35px;
  
 }

 a.circle{
   padding-bottom: 10px;
   margin-bottom: 30px;
 }

.star-icon {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  height: auto;
  padding-top: 10px;
  margin-bottom: 100px;
}


 .SOCIAL {
  align-items: center;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 }
 
 .left-border {
   border-bottom: double 7px;
   width: 100%;
   height: 25px;
 }
 
 .title {
   font-size: 45px;
   padding-top: 20px;
 }
 
 .right-border {
   border-bottom: double 7px;
   width: 100%;
   height: 25px;
   margin-bottom: 20px;
 }

 .SNS-accounts {
  align-items: center;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.twitter-timeline {
  height: 300px;
  width: 100%;
}

.instagram-media {
  height: 700px;
}

footer{
  top: 3500px;
  color: white;
  background-color:black;
}

.items {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

.location {
  display: flex;
  flex-direction: column;
  margin: 0px;
  
}

h2.dome {
  padding-left: 5px;
}

h3.dome {
  padding-left: 5px;
}

iframe {
  margin: 0px;
 
}

.google-map{
 width: 100%;
 height: 300px;
 padding-bottom: 50px;
 margin: 0px 0px 30px 0px;
}

.Links {
  text-align: center;
  width: 350px;
}

.Links span {
  text-align: center;
  font-size: 21px;
}

.Links ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  font-size: 15px;
  padding: 0px;
  width: 107%;
}  


.Links li{
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #ba9f74;
  border: 1px solid #ba9f74;
  height: 50px;
  text-align: center;

}

.club_identity {
  width: 100%;
  height: auto;
}

h2.wolvesway {
  padding-right: 10px;
}

.sns-logo {
  text-align: right;
  color:inherit;
  display: flex;
  justify-content: flex-end; 
  width: auto;
}

img#twitter-logo{
  height: 45px;
  width: 50px;
  margin-left: 5px;
}


.last-border {
  border: 2px solid #ba9f74;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

h2.contact-us {
    padding-right: 10px;
}



form {
  
}

h3.email {
    padding-right: 10px;
}


input.email {
  width:100%;
  height: 34px;
  border-radius: 7px;
  padding-right: 10px;

}

h3.your-message {
  padding-right: 10px;
}

textarea {
  width: 100%;
  height: 130px;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 0px;
}

button {
  width: 100%;
  height: 35px;
  color: white;
  background-color: #ba9f74;
  padding: 10px;
  margin-bottom: 70px;
}

button:hover {
  cursor: pointer;
  color: black;
  
}




@media (min-width: 992px) {
  body {
   
  }
}
